header {
    height: 100vh;
    padding-top: 7rem;

}

.header__container {
    display: grid;
    grid-template-columns: 75% 25%;
    text-align: center;

   
}

.header__buttons {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.header__image {

    
}

.header__image img{

}

/* =========== MEDIA QUERIES (MEDIUM DEVICES) ============ */
@media screen and (max-width: 1024px){
    header {
        height: 68vh;
    }
  

    
}

/* =========== MEDIA QUERIES (SMALL DEVICES) ============ */
@media screen and (max-width: 600px){
    header {
        height: 100vh;
    }

    .socials {
        display: none;
    }

    
}