.socials {
    width: 150px;
    position: fixed;
    bottom: 0px;
    left: 40;
    right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    line-height: 1.3;
    font-size: 3rem;
    padding: 10px;

}

.socials::after {
    content: "";
    width: 1.5px;
    height: 6rem;
    background: var(--color-primary);

}