nav {
    overflow: hidden;
    display: flex;
    float: right;
    align-items: center;
    height: 12vh;

}

nav a {
    font-size: larger;
    padding: 0.7rem 1.7rem;
    display: block;
    float: right;



}

nav img {
    display: flex;
    justify-self: flex-start; 
    width: 7rem;
    padding: 0.5rem;

}